<div class="row" style="padding-top: 20px;" ng-controller="pricingController" ng-submit="calculatePricing()">

    <!-- Create LeftHand Side of Pricing -->
    <div class="col-sm-3 col-md-6">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                          Pricing Inputs 
                        </h3>
            </div>

            <div class="panel-body">

                <form name="pricingInputForm" class="form-horizontal" style="padding-top: 20px;">

                    <div class="form-group">
                        <label for="selectCurrencyPair" class="col-sm-4 control-label">Currency Pair</label>
                        <div class="col-sm-8">
                            <select class="form-control col-sm-8" id="selectCurrencyPair" ng-model="selectCurrencyPair" ng-change="setCurrecyPair()" required>
                                <option value="" selected>Select</option>
                                <option value="USD_SGD" selected>USD/SGD</option>
                                <option value="SGD_IDR" selected>SGD/IDR</option>
                                <option value="INR_IDR" selected>INR/IDR</option>
                            </select>
                        </div>
                    </div>

                    <!--
                                Angular Model validation for later use
                                div class="form-group" ng-class="{ 'has-error' : pricingInputForm.email.$invalid && !pricingInputForm.email.$pristine }">
                                <label>Email</label> 
                                <input type="email" name="email" class="form-control" ng-model="user.email">
                                <p ng-show="pricingInputForm.email.$invalid && !pricingInputForm.email.$pristine" class="help-block">Enter a valid email.</p>
                            </div-->

                    <div class="form-group">
                        <label for="selectStyle" class="col-sm-4 control-label">Style</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="selectStyle" ng-model="selectStyle">
                                <option value="-1" selected>Select</option>
                                <option>European</option>
                                <option>Western</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selectOptionType" class="col-sm-4 control-label">Option Type</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="selectOptionType" ng-model="selectOptionType" required>
                                <option value="" selected>Select</option>
                                <option value="CALL">CALL</option>
                                <option value="PUT">PUT</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputPrice" class="col-sm-4 control-label">Price</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputPrice" ng-model="inputPrice" placeholder="Price" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selectExpiration" class="col-sm-4 control-label">Expiration</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="selectExpiration" ng-model="selectExpiration">
                                <option value="-1" selected>Select</option>
                                <option value="201512">Dec,15</option>
                                <option value="201601">Jan,16</option>
                                <option value="201602">Feb,16</option>
                                <option value="201603">Mar,16</option>
                                <option value="201604">Apr,16</option>
                                <option value="201605">May,16</option>
                                <option value="201606">Jun,16</option>
                                <option value="201607">Jul,16</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtVolatility" class="col-sm-4 control-label">Volatility</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="number" min="0" step="any" class="form-control" id="txtVolatility" ng-model="txtVolatility" placeholder="Volatility">
                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtIntrestRate" class="col-sm-4 control-label">Intrest Rate</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="number" min="0" step="any" class="form-control" id="txtIntrestRate" ng-model="txtIntrestRate" placeholder="Amount">
                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-forex">Pricing</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
    <!-- End  LeftHand Side of Pricing -->


    <!-- Create RightHand Side of Pricing -->
    <div class="col-sm-9 col-md-6">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                          Calculated Price 
                        </h3>
            </div>

            <div class="panel-body">

                <form name="pricingCalulatedForm" class="form-horizontal" style="padding-top: 20px;">
                    <div class="form-group">
                        <label for="txtOptionType" class="col-sm-4 control-label">Option Type</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtOptionType" ng-model="pricing.txtOptionType" placeholder=" CALL / PUT" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtSymbol" class="col-sm-4 control-label">Symbol</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtSymbol" ng-model="pricing.txtSymbol" placeholder="Price">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="txtOptionValue" class="col-sm-4 control-label">Option Value</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control error" id="txtOptionValue" ng-model="pricing.txtOptionValue" placeholder="Price">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtDelta" class="col-sm-4 control-label">Delta</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtDelta" ng-model="pricing.txtDelta" placeholder="Price">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtGamma" class="col-sm-4 control-label">Gamma</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtGamma" ng-model="pricing.txtGamma" placeholder="Price">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" id="bttnBook" class="btn" ng-disabled="isPricingCalculated" ng-click="proceedBooking()">Ready to Book .. </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <!-- End RightHand Side of Pricing -->
</div>